<launch>
  <param name="/use_sim_time" value="false"/>
  
  <!-- Launch the grid map simple demo node -->
  <node pkg="local_grid_map" type="local_grid_map" name="local_grid_map" output="screen">
    <remap from="map_in" to="/projected_map" />
    <param name="map_length_" value="9.0"/>
    <param name="map_width_" value="12.0"/>
    <param name="frame_id_" value="base_link"/>
  </node>
  
  <!-- Launch the grid map visualizer -->
  <node pkg="grid_map_visualization" type="grid_map_visualization" name="grid_map_visualization" output="screen">
    <rosparam command="load" file="$(find local_grid_map)/config/local_grid_map.yaml" />
  </node>
  
  <!-- Launch RViz with the demo configuration -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find local_grid_map)/rviz/local_grid_map.rviz" />
  
</launch>
